@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,300;1,300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; ;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
 .nav-header{
    width: 100%;
    height: 80px;
    background-color: #0A4D68;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    
}

.logo img{
   width: 120px;
   position: relative;
   left: 30px;
    
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;

}

.nav-bar ul li a:hover{
    background-color: white;
    color: hsl(184, 100%, 22%);

}
.nav-bar ul li a.active{
    background-color: white;
    color: hsl(184, 100%, 22%);
}
@media only screen and (max-width:1320px){
    header{
        padding: 0 50px;
    }
}
@media only screen and (max-width:900px){
    header{
        padding: 0 25px;
    }
}
@media only screen and (max-width:460px){
    header{
        padding: 0 10px;
    }
}

/* media querries for mobile starts here */
@media only screen and (max-width:780px){
    .hamburger{
        display: block;
        cursor: pointer;
        padding: 0 10px;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px 0;
        
    }
    .nav-bar{
        /* remember */
        display: block;
        height: 0;
        position: absolute;
        top: 80px;
        left:0;
        right: 0;
        width: 100vw;
        background: #0A4D68;
        color: white;
        transition: 0.5s;
        overflow: hidden;
        
        
    }

    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        
    }
    .nav-bar ul li a.active{
    background-color: white;
    color: hsl(184, 100%, 22%);
    
    }
    .nav-bar.active{
        height: 70vh;
    
    }
    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        color: white;
        text-decoration: underline;
        margin-bottom: 25px;
        
        
    }
    .nav-bar ul li a:hover{
        background-color: hsl(184, 100%, 22%);
        color: white;
    }
    
    
}
/* header main container for mobile */
.container header{
    background-color:hsl(184, 100%, 22%);
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px 50px 40px ;
    border: 0;
    
    
    
}

.avater{
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    
    
    
    
}
.avater img{
    width: 100%;
    height: 100%;
    
}
.container .header-content{
   text-align: center;
}
.header-content .header-hi{
    color: white;
    margin-bottom: 5px;
}

h1 .header-name{
    color:aquamarine;
}
h1 .header-bio{
    color:aquamarine;
    margin-bottom: 5px;
}
.header-content .header-intro{
    color:aquamarine;
    margin: 10px ;
    line-height: 20px;
}
.header-links{

    position: relative;
    top: 20px;
    cursor: pointer;
}

.header-links .resume{
    padding: 10px ;
    border: 2px solid white ;
    border-radius: 5px;
    color: white;
    
}
.header-links .resume:hover{
    background-color: white;
    color: hsl(184, 100%, 22%);
}
.header-links .myworks{
    padding: 10px ;
    background-color: aquamarine;
    border-radius: 5px;
    color:black;
    position: static;
}
.header-links .myworks:hover{
    opacity: 0.6;
    background-color: white;
    color: hsl(184, 100%, 22%);
}
.about-skills li{
    color: white;
}

header .get-socials-aside{
    display: none;
}
/* hero section ends here */

/* ###########hero section screen size 780 and above############## */
/* ###########hero section screen size 780 and above############## */
@media only screen and (min-width:780px){
   .container header{
    display: flex;
    flex-direction: row-reverse;
    height: 90vh;
    }
    header .get-socials-aside{
        display: flex;
        padding-bottom: 100px;
    }
    
   .avater{
    position: relative;
    bottom: 20px;
    width:600px;
    
   }
   .header-content{
    width: 600px;
    padding: 20px;
    
   }
   .container .header-content{
    position: relative;
    bottom: 20px;
   }
   .container .header-links{
    margin: 50px;
   }
   .container .header-hi{
    font-size: 20px;
   }
   .container .header-name{
    font-size: 35px;
   }
   
   


}

.about{
    background-color: #0A4D68;
    
    
}
.about h1{
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;
    color:aquamarine;;
}
.about-me{
    padding: 20px;
    text-align: center;
   
}
.about p{
    line-height: 30px;
    text-align: left;
    padding: 20px;
    color: aquamarine;;
}
.about-p-link{
    color: aquamarine;
}
.myskills{
    padding: 20px; 
    
}


.about-skills{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 10px;
    
    
    
}
.about-skills li{
    color: aqua;
}
.fa-brands{
    margin: 15px;
}
.myskills h1{
    text-align: center;
    color:aqua;
    margin-top: 30px;
}
.read-more{
    display: none;
}
.about-me button{
    padding: 10px 50px;
    border-radius: 5px;
    border: 2px solid aqua;
    background-color: aquamarine;
    color: #088395;
    font-size: 20px;
    text-align: start;
    cursor: pointer;
}
.about-me button:hover{
    opacity: 0.6;
    transition: 0.5s;
}
/* media screen for about and skills i learnt start here */
@media only screen and (min-width:780px){

    .about{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 50px;
    }
    .about-me{
        width: 450px;
        margin-right: 20px;
        border: 2px solid white;
        padding: 30px;
    }
    
    .myskills{
        width: 400px;
        margin-left: 20px;
    }
    .about-me p{
        text-align: left;
    }
}
.some-works{
    background-color:hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}
.cards img{
    width: 100%;
    border: 2px solid #088395;
  
}
.visitsite{
    background-color: #0A4D68;
    color: white;
    border: 1px solid #088395;
    border-radius: 5px;
    padding: 10px 30px ;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.visitsite a{
    color:white ;
}
.visitsite:hover{
    opacity: 0.6;
    transition: 0.5;
}
.some-works p{
    padding: 10px;
    color: white;
    margin-bottom: 30px 20px ;
    line-height: 25px;
    padding-bottom: 70px;
    
}


.some-projects-h2{
    color: white;
    background-color: hsl(184, 100%, 22%);
    text-align: center;
    padding-top: 70px;
    padding-bottom: 20px;
    text-decoration: underline;
    
}
/* media screen for some projects */
@media only screen and (min-width:780px){
    .some-works{
        display: flex;
        flex-direction: row;

    }
    .cards{
        width: 350px;
        margin: 20px;
    }
}
.get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A4D68;
}
 .message{
    margin-bottom: 50px;
    text-align: center; 
    color: white;
    
}
.message input{
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #088395;
    border:2px solid hsl(184, 77%, 48%) ;
    padding: 5px;
    cursor: pointer;
    color: white;
    
}
.message h3{
    padding: 15px ;
}
.message textarea{
    width: 80%;
    text-align: center;
    border-radius: 5px;
    border:2px solid hsl(184, 77%, 48%);
    margin: 5px;
    text-align: start;
    background-color: #088395;
}
::placeholder { 
    color:white;
    opacity: 1; 
  }
.message .sendmessage{
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #088395;
    border:2px solid aquamarine;
    color: aliceblue;
    margin-top: 7px;
    
    
}
@media only screen and (min-width:780px){
    .message{
        width: 30%;
    }

}

.get-socials ul{
    float: inline-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    

}
.send-message{
    padding: 20px;
    color: white;
    margin-top: 80px;
    border-radius: 5px;
    background-color: hsl(184, 100%, 22%);
    border: 2px solid white;
}
.send-message:hover{
    background-color: white;
    cursor: pointer;
    color: hsl(184, 100%, 22%);
}






